/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
  background-color: white;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
  
  > li:last-child {
    margin-bottom: 0px;
  }
}

.post-list-item-header > h2 {
  display: inline-block;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-left: 10px;
}

.post-link {
  font-size: 24px;
}
