/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  height:40px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  float: left;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-meta {
  float: right;
}

.post-content {
  margin-bottom: $spacing-unit;
  text-align: justify;
  padding-left:50px;
  padding-right:50px;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
}
}

h3 {
  font-size: 26px;

  @include media-query($on-laptop) {
    font-size: 22px;
}
}

h4 {
  font-size: 20px;

  @include media-query($on-laptop) {
    font-size: 18px;
}
}
}
